package ${package}.query;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import javax.validation.constraints.NotNull;
/**
 * ${classComments} 分页查询
 * @author $author
 * @date $date
 */
@Getter
@Setter
@ToString
@ApiModel(description = "${classComments}查询Query")
public class ${className}PageQuery extends AbstractPageQuery {

    @NotNull(message = "名称不能为空")
    @ApiModelProperty(value = "名称")
    private String name;

}